body{
  background-color: #A0C4FF;
  width: 100%;

}

h1 {
  color: #FFFFFC;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  border: 5px solid white;
  text-align: center;
  font-size: 30px;
}

.grid-numbers {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* grid-gap: 10px; */
  padding: 5%;
}

.grid-numbers > div {
  text-align: right;
  font-size: 30px;
}

.cornflowerLilac > h3 {
    color: white;
}

.cornflowerLilac {
  color: #FFADAD;
  background-color: #FDFFB6;
}

.tableHead-cornflowerLilac {
  background-color: #FFADAD;
  margin: 10px;
  padding: 10px;
}
